In [7]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../../data/AirlineTweets.csv')

In [4]:
data.sample(5)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
14174,569658878939410432,neutral,0.6315,NaN,0.0000,American,NaN,SouljaCoy,NaN,0,"@AmericanAir yep, they moved me to 16A as they...",NaN,2015-02-22 16:43:55 -0800,"Orange County, CA",Pacific Time (US & Canada)
84,569929243146088448,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,GunsNDip,NaN,0,@VirginAmerica it was a disappointing experien...,NaN,2015-02-23 10:38:14 -0800,NaN,Pacific Time (US & Canada)
1986,569491295766343681,negative,0.6586,Customer Service Issue,0.6586,United,NaN,RodahlLL,NaN,0,@united On hold 2X 60 min ea. Trying to bk a t...,NaN,2015-02-22 05:38:00 -0800,Hong Kong,Central Time (US & Canada)
8806,567831434838159360,positive,0.6647,NaN,NaN,Delta,NaN,kimbetech,NaN,0,@JetBlue will call. Thank you!,NaN,2015-02-17 15:42:18 -0800,NYC,Eastern Time (US & Canada)
14511,569605022197153792,positive,0.6593,NaN,NaN,American,NaN,wesleytravis,NaN,0,@AmericanAir my return flight is scheduled on ...,"[44.26313964, -69.78197616]",2015-02-22 13:09:54 -0800,"Webster Groves, MO",NaN

In [5]:
data.shape

(14640, 15)

In [14]:
data = data.drop_duplicates('text')

In [15]:
data.shape

(14427, 15)

In [16]:
indices = list(data.index)
np.random.shuffle(indices)

TEST_SIZE = 0.15
VAL_SIZE = 0.15

test_size = int(len(indices) * TEST_SIZE)
val_size = int(len(indices) * VAL_SIZE)
train_size = len(indices) - test_size - val_size

train_idxs = indices[:train_size]
valid_idxs = indices[train_size:train_size+val_size]
test_idxs = indices[train_size+val_size:]

print('Train: ', train_size)
print('Valid: ', val_size)
print('Test : ', test_size)

Train:  10099
Valid:  2164
Test :  2164

In [17]:
train_data = data.loc[train_idxs]
valid_data = data.loc[valid_idxs]
test_data = data.loc[test_idxs]

In [18]:
len(set(valid_data.text).intersection(set(train_data.text))),\
len(set(test_data.text).intersection(set(train_data.text)))

(0, 0)

In [ ]:
'../../data/mokoron/'

In [20]:
basepath = '../../data/airline_tweets/'

train_data.to_csv(basepath+'train.csv', index=False)
valid_data.to_csv(basepath+'validation.csv', index=False)
test_data.to_csv(basepath+'test.csv', index=False)