In [1]:
import numpy as np
import pandas as pd

# Mokoron

### Train

In [20]:
data = pd.read_csv('../../data/mokoron/train.csv')

In [21]:
data.shape

(152208, 5)

In [22]:
data.sample(5)

,Unnamed: 0,id,text_original,sentiment,text_spellchecked
128541,29234,409624466722136065,RT @xatyxoduk: и ещё сурганова :) белая песня...,1,RT @xatyxoduk: и ещё Сурганова :) белая песня...
55711,189139,418632507907514368,2 часа сна никак не сочетается с поездкой на к...,-1,2 часа сна никак не сочетается с поездкой на к...
116927,187926,418301886547390464,@4_poison_4 давайте в другой день со мноой (((,-1,@4_poison_4 давайте в другой день со мной (((
6805,195728,419579427777826817,Я опять накручиваю себя :( \nя скучаю :( \nРуз...,-1,Я опять накручиваю себя :( \nя скучаю :( \nРу ...
104078,107465,411156454910214144,RT @LuizaAntonovaa: Сегодня меня все раздражае...,1,RT @LuizaAntonovaa: Сегодня меня все раздражае...

In [23]:
texts = data['text_original']

In [24]:
import re

In [25]:
re.sub('\n', ' ', 'hey, you\nwwff')

'hey, you wwff'

In [27]:
with open('../../../robust-w2v/data/mokoron/input.txt', 'w') as f:
    for text in texts:
        f.write(re.sub('\n', ' ', text) + '\n')

### Validation

In [44]:
valid_data = pd.read_csv('../../data/mokoron/validation.csv')

In [34]:
valid_data.sample()

,Unnamed: 0,id,text_original,sentiment,text_spellchecked
11457,147203,413162528815206400,"ненавижу это состояние, когда безумно нравится...",-1,"ненавижу это состояние, когда безумно нравится..."

In [36]:
valid_data.sentiment.unique()

array([-1,  1])

In [47]:
valid_data['SentimentText'] = valid_data['text_original']
valid_data['Sentiment'] = (valid_data['sentiment'] > 0).astype(int)
valid_data_rove = valid_data[['SentimentText', 'Sentiment']]

In [52]:
valid_data_rove.sample()

                                           SentimentText  Sentiment
19373  @mellomanko @ViktoriyaJuve спасибо спасибо спа...          1

In [53]:
valid_data_rove.to_csv('../../../robust-w2v/data/mokoron/valid.txt', index=False)

# Brown

It is downloaded from official cite in plaintext format